.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #E5E9F0;
  background-color: #2E3440;
}
.highlight .err {
  color: #2E3440;
  background-color: #BF616A;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #4C566A;
}
.highlight .cp {
  color: #EBCB8B;
}
.highlight .nt {
  color: #EBCB8B;
}
.highlight .o, .highlight .ow {
  color: #E5E9F0;
}
.highlight .p, .highlight .pi {
  color: #E5E9F0;
}
.highlight .gi {
  color: #A3BE8C;
}
.highlight .gd {
  color: #BF616A;
}
.highlight .gh {
  color: #81A1C1;
  background-color: #2E3440;
  font-weight: bold;
}
.highlight .ge {
  font-style: italic;
}
.highlight .ges {
  font-weight: bold;
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #B48EAD;
}
.highlight .kc {
  color: #D08770;
}
.highlight .kt {
  color: #D08770;
}
.highlight .kd {
  color: #D08770;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #A3BE8C;
}
.highlight .sa {
  color: #B48EAD;
}
.highlight .sr {
  color: #88C0D0;
}
.highlight .si {
  color: #5E81AC;
}
.highlight .se {
  color: #5E81AC;
}
.highlight .nn {
  color: #EBCB8B;
}
.highlight .nc {
  color: #EBCB8B;
}
.highlight .no {
  color: #EBCB8B;
}
.highlight .na {
  color: #81A1C1;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #A3BE8C;
}
.highlight .ss {
  color: #A3BE8C;
}
