---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <div id="reading-progress" class="reading-progress-bar" aria-hidden="true"></div>

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      <span class="post-meta"> •
        {% assign words = content | number_of_words %}
        {% if words < 360 %}
          1 min read
        {% else %}
          {{ words | divided_by: 180 }} min read
        {% endif %}
      </span>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <div class="post-navigation">
    {% if page.previous.url %}
      <div class="nav-previous">
        <a href="{{ page.previous.url | relative_url }}" rel="prev" aria-label="Previous post: {{ page.previous.title | escape }}">
          <span aria-hidden="true" class="nav-arrow left">&laquo;</span> {{ page.previous.title | escape }}
        </a>
      </div>
    {% endif %}
    {% if page.next.url %}
      <div class="nav-next">
        <a href="{{ page.next.url | relative_url }}" rel="next" aria-label="Next post: {{ page.next.title | escape }}">
          {{ page.next.title | escape }} <span aria-hidden="true" class="nav-arrow right">&raquo;</span>
        </a>
      </div>
    {% endif %}
  </div>
</article>
