---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <div id="reading-progress" class="reading-progress-bar" aria-hidden="true"></div>

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <svg class="metadata-icon" aria-hidden="true" viewBox="0 0 16 16"><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>
        {{ page.date | date: date_format }}
      </time>
      <span class="post-meta"> •
        <svg class="metadata-icon" aria-hidden="true" viewBox="0 0 16 16"><path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/><path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/></svg>
        {% assign words = content | number_of_words %}
        {% if words < 360 %}
          1 min read
        {% else %}
          {{ words | divided_by: 180 }} min read
        {% endif %}
      </span>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <div class="post-navigation">
    {% if page.previous.url %}
      <div class="nav-previous">
        <a href="{{ page.previous.url | relative_url }}" rel="prev" aria-label="Previous post: {{ page.previous.title | escape }}">
          <span aria-hidden="true" class="nav-arrow left">&laquo;</span> {{ page.previous.title | escape }}
        </a>
      </div>
    {% endif %}
    {% if page.next.url %}
      <div class="nav-next">
        <a href="{{ page.next.url | relative_url }}" rel="next" aria-label="Next post: {{ page.next.title | escape }}">
          {{ page.next.title | escape }} <span aria-hidden="true" class="nav-arrow right">&raquo;</span>
        </a>
      </div>
    {% endif %}
  </div>
</article>
