name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2.2
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Python dependencies
      run: |
        pip install beautifulsoup4

    - name: Build site
      run: bundle exec jekyll build

    - name: Run RSpec tests
      run: bundle exec rake spec

    - name: Run Python verification scripts
      run: python3 -m unittest discover tests

    - name: Archive production artifacts
      uses: actions/upload-artifact@v4
      with:
        name: site-build
        path: _site
